body {
    overflow-x: hidden;
}

.dark-background {
    background-color: #282c34;
}

.white-placeholder {
    color: white !important;
}

.text-white {
    color: white !important;
}

.cap-text {
    text-transform: uppercase !important;
}
